name: Check Markdown Links

on:
  push:
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run lychee link checker
        uses: lycheeverse/lychee-action@v1.6.1
        with:
          args: --verbose --no-progress .
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
